@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    padding: 0;
    margin: 0;
}

.header {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    z-index: 1;
    box-shadow: 0px 1px 2px rgba(0, 0, 150, 0.25);
    background: #2196f3;
    color: white;
}

.content {
    background-color: #ffffff;
    overflow-y:auto;
    text-align: justify;
    flex-grow: 1;
}

.footer {
    padding: 10px 20px;
    color: white;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    box-shadow: 0px 1px 2px rgba(0, 0, 150, 0.25);
    background: #2196f3;
}

.main {
    position:fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.public-menu {
    display: flex;
    gap: 10px;
    justify-content: end;
    margin: 0;
}

.public-menu a {
    color: white;
}

.admin-menu-item {
    color: white;
    text-align: left;
    display: flex;
    padding: 10px 10px 10px 20px;
    background: #2469a1;
    text-decoration: none;
    font-size: 14px;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.admin-menu-item.active,
.admin-menu-item:hover {
    background: #2196f3;
}

.admin-menu-item-logout-wrap {
    padding: 0;
    display: block;
    width: 100%;
}

.admin-menu-item-logout-wrap button {
    width: 100%;
}

.admin-menu ul {
    margin: 0;
    padding: 0;
}

.admin-menu {
    padding-top: 5px;
}

.admin-menu ul li {
    margin-bottom: 5px;
}

.admin-content {
    display: flex;
    min-height: 1200px;
}

.admin-content-right-block {
    width: 100%;
}

.admin-content-left-block {
    width: 250px;
    border-right: 1px solid #d5d6d8;
    background: #0f3859;
}

.admin-page-content {
    padding: 20px;
}

.public-menu-item {
    display: block;
    padding: 20px;
}

.public-header-logo-wrap:hover,
.public-menu-item.active,
.public-menu-item:hover {
    background: #6eb3e9;
}

.public-header-logo-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 20px;
}

.public-header-logo {
    width: 44px;
    display: block;
}

.public-header-wrap {
    display: flex;
    justify-content: space-between;
}

.public-about-block {
    background: #212529;
    padding: 100px;
    color: white;
}

.public-block-title {
    font-size: 30px;
    padding-bottom: 20px;
}

.public-shop-block {
    padding-top: 60px;
    padding-bottom: 120px;
}

.shop-block-items {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: start;
}

.shop-block-item {
    width: 250px;
    max-width: 250px;
    min-width: 250px;
    flex: 1;
}

.administration-flex-block {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
}

.administration-flex-block-item {
    width: 300px;
    max-width: 300px;
    min-width: 300px;
    flex: 1;
}

.admin-content-header {
    padding: 20px 20px 0 20px;
}

.administration-header {
    padding: 10px 0;
    display: flex;
}

.administration-moderator-header {
    display: flex;
    gap: 30px;
    align-items: center;

}

.administration-header-logo-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 20px;
}

.administration-header-logo {
    width: 44px;
    display: block;
}

.administration-user-devices {
    display: flex;
    gap: 10px;
}

.administration-user-device-item {
    width: 250px;
}

.content-footer {
    padding: 10px;
    display: flex;
}

.content-footer-wrap {
    background: #2196f3;
}

.public-footer-logo-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 20px;
}

.public-footer-logo {
    width: 44px;
    display: block;
}

.custom-alert-message {
    position: fixed !important;
    top: 10px;
    left: 200px;
    z-index: 1000;
}

.card-custom-image {
    max-height: 200px;
}

.shop-device-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}


.photo-items {
    display: block;
}
.photo-items .card {
    margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
    .admin-menu-item span {
        display: none;
    }

    .admin-menu-item span {
        display: none;
    }
    .admin-content-left-block {
        width: 60px;
    }

    .device-item {
        width : 100%;
        margin: 0 auto 20px auto;
    }

     .device-items {
         display: block;
     }

     .public-about-block {
         padding: 60px 30px;
     }
}
