.device-item {
    width: 320px;
    display: block;
    max-width: 320px;
    flex: 1;
}

.device-items {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.device-item-actions {
    padding-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
